@import "tailwindcss";

@theme {
  --color-primary: #f97316;
  --color-primary-hover: #ea580c;
  --color-primary-light: #fff7ed;

  --color-background: #f8fafc;
  --color-surface: #ffffff;

  --color-text: #0f172a;
  --color-text-secondary: #64748b;
  --color-text-muted: #94a3b8;

  --color-border: #e2e8f0;

  --color-gray-dark: #334155;
  --color-gray: #64748b;
  --color-gray-light: #f1f5f9;

  --color-success: #22c55e;
  --color-danger: #ef4444;
}